<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pets and Cakes</title>
        <link rel="icon" href="/img/gato_fiesta.ico">
        <style type="text/css">
            article{display: flex;}
            h4{width: 200px;}
            #listado{display: contents;}
            a{text-decoration: none; color: black;}
        </style>
         <link href="/styles.css" rel="stylesheet" type="text/css">
</head>